@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Ysabeau+SC:wght@1..1000&display=swap");
body {
  overflow-x: hidden;
}

.header-icon {
  position: fixed;
  z-index: 1000;
  bottom: 15px;
  right: 15px;
  display: none;
}
.header-icon .arrow-top {
  padding: 10px 17px;
}
.header-icon .arrow-top i {
  font-size: 13px;
}
.header-icon .whatsapp {
  padding: 10px 14px;
}
.header-icon .whatsapp i {
  font-size: 17px;
}

.navbar {
  background-color: transparent !important;
  display: flex;
  position: relative;
  z-index: 111;
  align-items: center;
}
.navbar .btn-contact {
  text-decoration: none;
  color: #e9eaea;
}
.navbar .navbar-brand {
  width: 30%;
  position: relative;
  z-index: 111;
}
.navbar .navbar-brand img {
  width: 30%;
}
.navbar .nav-link {
  font-size: 15.8px;
  position: relative;
  z-index: 111;
  margin-top: 2px;
  margin-right: 15px;
  font-family: sukar-black;
}

@media (max-width: 1199.98px) {
  .navbar .navbar-brand {
    width: 25%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 50%;
  }
  .navbar .nav-link {
    font-size: 15.8px;
    position: relative;
    z-index: 111;
    margin-top: 2px;
    margin-right: 15px;
    font-family: sukar-black;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-brand {
    width: 50%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 35%;
  }
}
@media (max-width: 767.98px) {
  .navbar .navbar-brand {
    width: 50%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 50%;
    margin-bottom: 10px;
  }
  .navbar .nav-link {
    font-size: 15px;
    margin-top: 2px;
    font-family: sukar-black;
  }
}
@media (max-width: 575.98px) {
  .navbar .navbar-brand {
    width: 60%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 50%;
  }
}
.hero-page-content {
  background: url(../images/back-header.jpg);
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
}
.hero-page-content .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #337dd1;
  opacity: 0.5;
}
.hero-page-content .hero-info {
  text-align: center;
}
.hero-page-content .hero-info img {
  width: 22%;
  position: relative;
  z-index: 2;
}
.hero-page-content .hero-info h2 {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 50px;
  padding: 10px 0;
  font-weight: bold;
  font-family: sukar-black;
}
.hero-page-content .hero-info h2 span {
  color: #337dd1;
}
.hero-page-content .hero-info p {
  color: #fff;
  z-index: 22;
  width: 80%;
  margin: 0 auto 10px;
  position: relative;
  font-size: 19px;
}

@media (max-width: 1199.98px) {
  .hero-page-content .hero-info img {
    width: 30%;
  }
}
@media (max-width: 991.98px) {
  .hero-page-content .hero-info img {
    width: 40%;
  }
  .hero-page-content .hero-info h2 {
    font-size: 45px;
  }
  .hero-page-content .hero-info p {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .hero-page-content .hero-info img {
    width: 50%;
  }
  .hero-page-content .hero-info h2 {
    font-size: 45px;
  }
  .hero-page-content .hero-info p {
    font-size: 19px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .hero-page-content .hero-info img {
    width: 50%;
  }
  .hero-page-content .hero-info h2 {
    font-size: 35px;
  }
  .hero-page-content .hero-info p {
    font-size: 17px;
    width: 100%;
  }
}
.custom-section {
  padding: 50px 0;
  overflow-x: hidden;
}
.custom-section .custom-title {
  color: #337dd1;
  font-size: 18px;
  position: relative;
  display: inline-block;
}
.custom-section h2 {
  color: #000;
  font-family: sukar-black;
  font-size: 35px;
  padding: 10px 0 5px;
}
.custom-section .info {
  padding: 5px 0;
  margin: 0;
}
.custom-section .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 50px;
  border: 4px solid;
  border-color: transparent;
  font-size: 14px;
  margin-top: 10px;
  background-color: #337dd1;
  border-radius: 12px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.custom-section .feature-box {
  padding: 10px 0;
  padding-top: 15px;
}
.custom-section .feature-box i {
  color: #337dd1;
  font-size: 1.5rem;
  margin-right: 0;
  /* margin-bottom: 90px; */
}
.custom-section .feature-box h5 {
  font-weight: bold;
  color: #3e3e3e;
  font-size: 20px;
  font-family: "sukar-black";
}
.custom-section .feature-box p {
  color: #7f8c8d;
  line-height: 1.5;
  font-size: 16px;
}
.custom-section .animated-button svg {
  position: absolute;
  width: 24px;
  fill: #337dd1;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.custom-section .animated-button .arr-1 {
  right: 16px;
}
.custom-section .animated-button .arr-2 {
  left: -25%;
}
.custom-section .animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.custom-section .animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.custom-section .animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
  border-radius: 12px;
}
.custom-section .animated-button:hover .arr-1 {
  right: -25%;
}
.custom-section .animated-button:hover .arr-2 {
  left: 16px;
}
.custom-section .animated-button:hover .text {
  transform: translateX(12px);
}
.custom-section .animated-button:hover svg {
  fill: #fff;
}
.custom-section .animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}
.custom-section .animated-button:hover .circle {
  width: 220px;
  height: 220px;
    opacity: 1;
}
.custom-section .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.custom-section .icon-text i {
  color: #337dd1;
}
.custom-section .icon-text .custom-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2px;
  background-color: #337dd1;
}

.why {
  background-color: #337dd1;
  position: relative;
  padding: 70px 0 30px;
  background-image: url(../images/back-header.jpg);
  background-size: cover;
  position: relative;
  -webkit-clip-path: ellipse(100% 100% at 50% 0);
          clip-path: ellipse(100% 100% at 50% 0);
}
.why .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #337dd1;
  opacity: 0.9;
}
.why .section-title {
  font-size: 3rem;
  color: #e9eaea;
  font-family: sukar-black;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 11;
}
.why .work-item {
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  z-index: 11;
}
.why .work-item .work-date {
  color: #fff;
  padding: 30px 0;
}
.why .work-item .work-date p {
  color: #e9eaea;
}
.why .work-item .work-date .img-information {
  text-align: center;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.why .work-item .work-date h5 {
  font-weight: bold;
  padding: 10px 0 5px;
}

@media (max-width: 991.98px) {
  .why {
    background-color: #337dd1;
    position: relative;
    padding: 70px 0 30px;
    background-image: url(../images/back-header.jpg);
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
/* <!-- ---------Team------- --> */
.scientist-section {
  padding: 60px 0;
  background-color: #fff;
}
.scientist-section .scientist-header {
  text-align: center;
  margin-bottom: 40px;
}
.scientist-section .scientist-header h1 {
  color: #337dd1;
  font-family: sukar-black;
}
.scientist-section .scientist-header p {
  color: #7f8c8d;
}
.scientist-section .scientist-header h6 {
  font-family: sukar-black;
  color: #3e3e3e;
}
.scientist-section .scientist-item {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.scientist-section .scientist-item p {
  color: #337dd1;
  font-family: sukar-black;
}
.scientist-section .scientist-item h5 {
  font-size: 1.3rem;
  font-family: sukar-black;
  margin: 15px 0 5px 0;
}
.scientist-section .scientist-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.scientist-section .scientist-image img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.scientist-section .scientist-image .scientist-item:hover .scientist-image img {
  transform: scale(1.1);
}
.scientist-section .scientist-item .social-icons {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 0;
  transition: bottom 0.3s ease;
}
.scientist-section .scientist-item:hover .social-icons {
  bottom: 0;
}
.scientist-section .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.scientist-section .social-icons a:hover {
  color: #337dd1;
}

/* --------history------------ */
.history {
  background-color: #f9f9f9;
  padding: 30px 0 60px;
}
.history .history-information {
  text-align: center;
}
.history .history-information h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: sukar-black;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #337dd1;
}
.history .history-information h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.history .history-information h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #337dd1;
  bottom: 0;
  left: calc(50% - 20px);
}
.history .history-information p {
  margin-bottom: 0;
}
.history .timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}
.history .timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #337dd1;
  z-index: 0;
}
.history .timeline .timeline-item {
  position: relative;
  text-align: center;
}
.history .timeline .timeline-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #337dd1;
  border-radius: 50%;
  border: 4px solid #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.history .timeline .timeline-item .timeline-content {
  background-color: #f9f9f9;
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid #337dd1;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.history .timeline .timeline-item .timeline-content h5 {
  font-size: 25px;
  font-weight: bold;
  font-family: sukar-black;
  color: #337dd1;
}
.history .timeline .timeline-item .timeline-content p {
  color: #3e3e3e;
}
.history .timeline .timeline-item .timeline-content h6 {
  font-weight: bold;
  font-family: sukar-black;
  color: #337dd1;
  font-size: 16.5px;
}
@media (max-width: 1199.98px) {
  .history .timeline {
    justify-content: center;
  }
  .history .timeline .timeline-item {
    width: 45%;
    margin-bottom: 20px;
  }
  .history .timeline .timeline-item .timeline-content {
    width: 230px;
  }
  .history .timeline .timeline-item:nth-child(3)::before, .history .timeline .timeline-item:nth-child(4)::before {
    display: none;
  }
  .history .timeline .timeline-item:nth-child(3)::after, .history .timeline .timeline-item:nth-child(4)::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    width: 2px;
    height: 60px;
    background: #337dd1;
  }
  .history .timeline::before {
    top: 50%;
  }
}
@media (max-width: 576px) {
  .history .timeline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    position: relative;
  }
  .history .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background: #337dd1;
    z-index: -1;
  }
  .history .timeline .timeline-item {
    position: relative;
    width: 80%;
    margin-left: 55px;
    margin-bottom: 40px;
    text-align: left;
  }
  .history .timeline .timeline-item .timeline-content {
    width: 100%;
  }
  .history .timeline .timeline-item::before {
    display: none;
  }
  .history .timeline .timeline-item:not(:last-child)::after {
    display: none;
  }
  .history .timeline .timeline-item .timeline-content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #337dd1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .history .timeline .timeline-item:nth-child(4)::after {
    display: none;
  }
}

/* --------fqa------------ */
.fqa {
  background-color: #fff;
  padding: 50px 0;
}
.fqa h5 {
  text-align: center;
  font-family: sukar-black;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: 700;
}
.fqa h5 span {
  padding: 0 10px;
}
.fqa h5 span i {
  font-size: 5px;
  margin-right: 4px;
}
.fqa h2 {
  text-align: center;
  font-family: sukar-black;
  font-weight: bold;
  font-size: 35px;
  font-weight: 700;
  color: #337dd1;
  padding: 0px 0 40px 0;
}
.fqa .main-title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: sukar-black;
  font-weight: bold;
  font-size: 35px;
  color: #3e3e3e;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.fqa .main-title:before, .fqa .main-title:after {
  content: "";
  display: block;
  margin: 0 0.2rem;
  flex: 1;
  border-bottom: 1px solid #3e3e3e;
}
.fqa input[type=radio] {
  display: none;
}
.fqa input[type=radio]:checked + .item .title {
  color: #fff;
  border-color: #337dd1;
  background-color: #337dd1;
  font-size: 24px;
  padding: 4px 20px;
  font-family: sukar-black;
}
.fqa input[type=radio]:checked + .item .title:after {
  transform: rotate(180deg);
}
.fqa input[type=radio]:checked + .item .content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s, opacity 0.7s;
}
.fqa .item {
  display: block;
  margin-bottom: 0.1rem;
}
.fqa .title {
  padding: 6px 20px;
  border-radius: 0.3rem;
  color: #337dd1;
  font-family: sukar-black;
  border: 1px solid;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fqa .title:after {
  content: "▼";
  display: inline-block;
  font-size: 12px;
}
.fqa .content {
  width: 95%;
  margin: 0 auto;
  padding: 0 0.3rem;
  font-size: 18px;
  color: #7f8c8d;
  border: 1px solid;
  border-width: 0 1px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

/* --------contact------------ */
.contact-section {
  background: url(../images/background1.jpg);
  padding: 50px 0;
  color: #3e3e3e;
}
.contact-section .contact .form-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000;
  font-family: sukar-black;
}
.contact-section .contact .business-phone {
  margin-right: 40%;
  font-size: 15px;
  color: #337dd1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: sukar-black;
  font-weight: bold;
}
.contact-section .contact .business-phone strong {
  color: #3e3e3e;
}
.contact-section .contact .business-email {
  font-family: sukar-black;
  font-weight: bold;
  font-size: 15px;
  color: #337dd1;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-section .contact .business-email strong {
  color: #3e3e3e;
}
.contact-section .contact .white-line {
  border: none;
  height: 2px;
  background-color: rgb(13, 13, 13);
  margin: 20px 0;
  margin-top: 30px;
}
.contact-section .contact-card {
  padding: 20px;
}
.contact-section .contact-card input {
  border-radius: 150px;
  padding: 10px 20px;
  color: #3e3e3e;
}
.contact-section .contact-card textarea {
  border-radius: 20px;
  padding: 10px 20px;
}
.contact-section .contact-card .btn-primary {
  background-color: #337dd1;
  color: #fff;
  border-radius: 150px;
  border: none;
  padding: 10px 40px;
  font-family: sukar-black;
  font-weight: bold;
}
.contact-section .contact-card .btn-primary:hover {
  background-color: #e9eaea;
  color: #337dd1;
  border: solid 1px #337dd1;
}

footer {
  background-color: #347cd0;
}
footer a {
  text-decoration: none;
}
footer .text-titel {
  font-weight: bold;
  font-size: 20px;
  color: #e9eaea;
  font-family: sukar-black;
}
footer .icon {
  display: flex;
  align-items: center;
}
footer .icon .text-reset i {
  color: #e9eaea;
}
footer .footer-data .logo {
  width: 70%;
  padding-bottom: 30px;
}
footer .footer-data h6 {
  color: #e9eaea;
  font-weight: bold;
  font-size: 17px;
  font-family: sukar-black;
}
footer .footer-data .text-reset {
  padding: 0;
  margin: 0;
}
footer .footer-data p {
  color: #e9eaea;
}
footer .footer-end {
  color: #e9eaea;
}/*# sourceMappingURL=about-us.css.map */
