@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Ysabeau+SC:wght@1..1000&display=swap");
body {
  overflow-x: hidden;
}

.header-icon {
  position: fixed;
  z-index: 1000;
  bottom: 15px;
  right: 15px;
  display: none;
}
.header-icon .arrow-top {
  padding: 10px 17px;
}
.header-icon .arrow-top i {
  font-size: 13px;
}
.header-icon .whatsapp {
  padding: 10px 14px;
}
.header-icon .whatsapp i {
  font-size: 17px;
}

.navbar {
  background-color: transparent !important;
  display: flex;
  position: relative;
  z-index: 111;
  align-items: center;
}
.navbar .btn-contact {
  text-decoration: none;
  color: #e9eaea;
}
.navbar .navbar-brand {
  width: 30%;
  position: relative;
  z-index: 111;
}
.navbar .navbar-brand img {
  width: 30%;
}
.navbar .nav-link {
  font-size: 15.8px;
  position: relative;
  z-index: 111;
  margin-top: 2px;
  margin-right: 15px;
  font-family: sukar-black;
}

@media (max-width: 1199.98px) {
  .navbar .navbar-brand {
    width: 25%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 50%;
  }
  .navbar .nav-link {
    font-size: 15.8px;
    position: relative;
    z-index: 111;
    margin-top: 2px;
    margin-right: 15px;
    font-family: sukar-black;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-brand {
    width: 50%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 35%;
  }
}
@media (max-width: 767.98px) {
  .navbar .navbar-brand {
    width: 50%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 50%;
    margin-bottom: 10px;
  }
  .navbar .nav-link {
    font-size: 15px;
    margin-top: 2px;
    font-family: sukar-black;
  }
}
@media (max-width: 575.98px) {
  .navbar .navbar-brand {
    width: 60%;
    position: relative;
    z-index: 111;
  }
  .navbar .navbar-brand img {
    width: 50%;
  }
}
.hero-page-content {
  background: url(../images/back-header.jpg);
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
}
.hero-page-content .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #347cd0;
  opacity: 0.5;
}
.hero-page-content .hero-info {
  text-align: center;
}
.hero-page-content .hero-info img {
  width: 22%;
  position: relative;
  z-index: 2;
}
.hero-page-content .hero-info h2 {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 50px;
  padding: 10px 0;
  font-weight: bold;
  font-family: sukar-black;
}
.hero-page-content .hero-info h2 span {
  color: #347cd0;
}
.hero-page-content .hero-info p {
  color: #fff;
  z-index: 22;
  width: 80%;
  margin: 0 auto 10px;
  position: relative;
  font-size: 19px;
}

@media (max-width: 1199.98px) {
  .hero-page-content .hero-info img {
    width: 30%;
  }
}
@media (max-width: 991.98px) {
  .hero-page-content .hero-info img {
    width: 40%;
  }
  .hero-page-content .hero-info h2 {
    font-size: 45px;
  }
  .hero-page-content .hero-info p {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .hero-page-content .hero-info img {
    width: 50%;
  }
  .hero-page-content .hero-info h2 {
    font-size: 45px;
  }
  .hero-page-content .hero-info p {
    font-size: 19px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .hero-page-content .hero-info img {
    width: 50%;
  }
  .hero-page-content .hero-info h2 {
    font-size: 35px;
  }
  .hero-page-content .hero-info p {
    font-size: 17px;
    width: 100%;
  }
}
.projects {
  padding: 50px 0;
}
.projects .project-information {
  text-align: center;
  padding-bottom: 30px;
}
.projects .project-information h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: sukar-black;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #347cd0;
}
.projects .project-information h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.projects .project-information h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #347cd0;
  bottom: 0;
  left: calc(50% - 20px);
}
.projects .project-information p {
  margin-bottom: 0;
}
.projects .project-item {
  margin: 20px 0 0;
}
.projects .project-card {
  overflow: hidden;
  border-radius: 15px;
  border: 0;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.1764705882);
  position: relative;
  transition: all 0.4s ease-out;
}
.projects .project-card:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 0px rgba(29, 30, 86, 0.5176470588);
}
.projects .project-card:hover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
}
.projects .project-card:hover .card-body {
  bottom: 0;
  background-color: rgba(234, 234, 234, 0);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.projects .project-card:hover .card-body a {
  display: block;
}
.projects .project-card:hover .card-body h5 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.436);
}
.projects .project-card:hover .card-body p {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.436);
}
.projects .project-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(46, 85, 131) 100%);
  opacity: 0.5;
}
.projects .project-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .project-card .card-body {
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  bottom: -55%;
  height: 100%;
  background-color: inherit;
  transition: all 0.5s ease-out;
}
.projects .project-card .card-body h5 {
  color: #e9eaea;
  position: relative;
  z-index: 11;
  font-family: sukar-black;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.5s ease-out;
}
.projects .project-card .card-body p {
  color: #e9eaea;
  line-height: 1.5;
  transition: all 0.5s ease-out;
}
.projects .project-card .card-body .btn-primary {
  padding: 0.5rem 1.5rem;
  background-color: #3176c4 !important;
  border: 2px solid #3176c4;
  display: none;
}
.projects .project-card .card-body .btn-primary:hover {
  background-color: inherit !important;
  border-width: 2px;
}

footer {
  background-color: #347cd0;
}
footer a {
  text-decoration: none;
}
footer .text-titel {
  font-weight: bold;
  font-size: 20px;
  color: #e9eaea;
  font-family: sukar-black;
}
footer .icon {
  display: flex;
  align-items: center;
}
footer .icon .text-reset i {
  color: #e9eaea;
}
footer .footer-data .logo {
  width: 70%;
  padding-bottom: 30px;
}
footer .footer-data h6 {
  color: #e9eaea;
  font-weight: bold;
  font-size: 17px;
  font-family: sukar-black;
}
footer .footer-data .text-reset {
  padding: 0;
  margin: 0;
}
footer .footer-data p {
  color: #e9eaea;
}
footer .footer-end {
  color: #e9eaea;
}/*# sourceMappingURL=project.css.map */